.article {
  width: 260px;
  height: 399px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: left;
  background: #ffffff;
  border-radius: 8px;
}

.article_img {
  width: 260px;
  height: 194.76px;
}

.article_author {
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #959499;
  text-transform: capitalize;
  margin-top: 34.24px;
  margin-bottom: 6px;
  padding-left: 26px;
}

.article_title {
  width: 166px;
  height: 47px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #2d314e;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-left: 26px;
}

.article_content {
  width: 202px;
  height: 76px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #959499;
  text-transform: capitalize;
  margin-top: 0px;
  padding-left: 26px;
}
