.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    place-items: center;
    gap: 0 2rem;
    height: 80px;
    background-color: white;
}

.header_button{
    margin-right: 166px !important;
}

.header_logo{
    margin-left: 10rem;
    margin-top: 18px;
}