.footer {
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: 190px;
  background-color: #2d314e;
}

.footer_leftsection {
  display: flex;
  justify-content: space-between;
  padding-left: 165px;
}

.footer_leftsection_logos {
  text-align: center;
}

.footer_leftsection_logos_easybanklogo {
  padding-top: 36.45px;
  padding-bottom: 38.3px;
}

.footer_leftsection_logos_mediaicons {
  display: flex;
  padding-left: 0px;
  margin-bottom: 27px;
}

.footer_leftsection_logos_mediaicons img {
  padding-left: 6.65px;
  padding-right: 6.65px;
  cursor: pointer;
}

.footer_leftsection_linkslist1 {
  display: grid;
  justify-content: center;
  text-align: left;
  margin-top: 36px;
  padding-left: 131px;
}

.footer_leftsection_linkslist2 {
  display: grid;
  justify-content: center;
  text-align: left;
  margin-top: 36px;
  padding-left: 131px;
}

.footer_leftsection_links {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #ffffff;
  cursor: pointer;
}

.footer_leftsection_links:hover{
  color: #77BDA3;
}

.footer_leftsection_links:active{
  color: #77BDA3;
}

.footer_rightsection {
  padding-right: 153px;
}

.footer_rightsection_p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-top: 28px;
}
